img {
    object-fit: contain;
    width: 225px;
    height: 225px;
}

.product_name {
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

.product_name:hover {
    color: #316cf4;
}

.listing_image {
    object-fit: contain;
    width: 550px;
    height: 550px;
}

.bid_details {
    overflow: auto;
    max-height: 150px;
    height: fit-content;
    width: 100%;
    margin-top: 10px;
}

.listing_pill_buttons {
    padding: 0; 
    font-size: small; 
    padding-left: 10px; 
    padding-right: 10px;
}

.watchlist_num {
    background-color: #316cf4; 
    padding: 2px; 
    padding-left: 7px; 
    padding-right: 7px; 
    color: white; 
    border-radius: 20%; 
    font-size: 14px; 
    font-weight: bold;
}