{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <div class="row mb-3 justify-content-between">
        <h4 class="col">Active Listings</h4>
        <div style="max-width: fit-content;" class="btn-group col me-5">
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'category' name='Fashion' %}">Fashion</a></li>
              <li><a class="dropdown-item" href="{% url 'category' name='Electronics' %}">Electronics</a></li>
              <li><a class="dropdown-item" href="{% url 'category' name='Home' %}">Home</a></li>
              <li><a class="dropdown-item" href="{% url 'category' name='Toys' %}">Toys</a></li>
              <li><a class="dropdown-item" href="{% url 'category' name='Sports' %}">Sports</a></li>
              <li><a class="dropdown-item" href="{% url 'category' name='Others' %}">Others</a></li>
            </ul>
          </div>
    </div>
    <div class="container-fluid">
        <div class="row gy-3">
            {% for listing in listings %}
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    {% if listing.image %}
                        <a class="row mb-2" style="border: 1px solid #f0f0f0; margin: auto;" href="{% url 'listing' id=listing.pk %}">
                            <img src="{{ listing.image }}" alt="{{ listing.product_name }}">
                        </a>
                    {% else %}
                        <a class="row mb-2" style="border: 1px solid #f0f0f0; margin: auto;" href="{% url 'listing' id=listing.pk %}">
                            <img src="static/auctions/media/no_image_icon.png" alt="{{ listing.product_name }}">
                        </a>
                    {% endif %}
                    <a class="product_name" href="{% url 'listing' id=listing.pk %}">
                        <span style="font-size: large; font-weight: 500;">{{ listing.product_name }}</span>
                    </a>
                    <div class="row">
                        <h5 style="color: firebrick;">₹{{ listing.current_bid|intcomma }}</h5>
                    </div>
                    <div class="row">
                        <span style="color: grey; font-size: small;">{{ listing.description }}</span>
                    </div>
                </div>
            {% empty %}
                <h5>No Listings</h5>
            {% endfor %}
        </div>
    </div>

    <div class="row mb-3 mt-5">
        <h4>Closed Listings</h4>
    </div>
    <div class="container-fluid">
        <div class="row gy-3">
            {% for listing in closed_listings %}
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    {% if listing.image %}
                        <a class="row mb-2" style="border: 1px solid #f0f0f0; margin: auto;" href="{% url 'listing' id=listing.pk %}">
                            <img src="{{ listing.image }}" alt="{{ listing.product_name }}">
                        </a>
                    {% else %}
                        <a class="row mb-2" style="border: 1px solid #f0f0f0; margin: auto;" href="{% url 'listing' id=listing.pk %}">
                            <img src="static/auctions/media/no_image_icon.png" alt="{{ listing.product_name }}">
                        </a>
                    {% endif %}
                    <a class="product_name" href="{% url 'listing' id=listing.pk %}">
                        <span style="font-size: large; font-weight: 500;">{{ listing.product_name }}</span>
                    </a>
                    <div class="row">
                        
                    </div>
                </div>
            {% empty %}
                <h5>No Listings</h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}